<!-- Dialog Horários -->
<div class="modal fade dialogbox" id="dialog-horarios" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Horários de funcionamento</h5>
      </div>
      <div class="modal-body mb-2 align-left">
        <ul class="font-13">
          <li>Segunda: 8h às 20h</li>
          <li>Terça: 8h às 20h</li>
          <li>Quarta: 8h às 20h</li>
          <li>Quinta: 8h às 20h</li>
          <li>Sexta: 8h às 20h</li>
          <li>Sábado: 8h às 20h</li>
          <li>Domingo: fechado</li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn-inline">
          <a href="#" class="btn btn-text-primary" data-dismiss="modal">Fechar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Dialog Horários -->