<div class="modal fade dialogbox" id="dialog-avatar" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <img src="<%= image_src %>" id="profile-avatar-hd" alt="image" class="img-fluid">
      <div class="modal-footer">
        <div class="btn-inline">
          <a href="#" class="btn btn-text-secondary" data-dismiss="modal">Fechar</a>
        </div>
      </div>
    </div>
  </div>
</div>