<% @tag_noindex = true %>

<body data-mp-track-visit="<%= MixPanel::PROFILE_CLAIM_VIEW %>">
  <%= render "app_components/header", classes: "bg-primary text-light flat", title: "reivindicar perfil", left_button: :back %>

  <!-- App Capsule -->
  <div id="appCapsule" class="mt-3 mb-5">

    <% if signed_in? %>

    <% else %>
      <a href="<%= new_user_path %>" class="btn btn-block btn-primary mt-3">Criar uma nova conta</a>
      <a href="<%= signin_path %>" class="btn btn-block btn-outline-primary text-primary">Acessar a minha conta</a>
    <% end %>

  </div>
</body>