<h3>Sucesso!</h3>
<br>
Em até 48h você receberá uma mensagem no Instagram para concluir o processo de reivindicação.
<br>
<%= @claim.uuid %>
<br><br>
<a href="<%= profile_path @claim.profile.username %>" class="btn btn-block btn-primary">Retornar ao perfil</a>