<%
  _classes = defined?(classes) ? classes : ""
  _right_buttons = defined?(right_buttons) ? right_buttons : []
  _left_button = defined?(left_button) ? left_button : ""
  _back_link = defined?(back_link) ? back_link : "javascript:window.history.back();"
%>

<%= render ("app_components/options") if _right_buttons.include? :options %>
<%= render("app_components/share_profile", profile: @profile) if _right_buttons.include? :share_profile %>

<!-- App Header -->
<div class="appHeader <%= _classes %>">
  <div class="left">
    <% if _left_button == :back %>
    <a href="<%= _back_link %>" class="headerButton">
      <ion-icon name="arrow-back-outline" role="img" class="md hydrated"></ion-icon>
    </a>
    <% else %>
    <a href="#" class="headerButton toggle-searchbox">
      <ion-icon name="search-outline"></ion-icon>
    </a>
    <% end %>
  </div>
  <div class="pageTitle">
    ubatuba tem
  </div>
  <div class="right">
    <% if _right_buttons.include? :share_profile %>
    <a href="#" data-toggle="modal" data-target="#action-sheet-share-profile" class="headerButton">
      <ion-icon name="share-social-outline"></ion-icon>
    </a>
    <% end %>

    <% if _right_buttons.include? :options %>
      <a href="#" class="headerButton" data-toggle="modal" data-target="#action-sheet-options">
        <ion-icon name="ellipsis-vertical-outline" role="img" class="md hydrated"></ion-icon>
      </a>
    <% end %>

  </div>
</div>
<!-- * App Header -->