<!-- App Bottom Menu -->
<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item">
    <div class="col">
      <ion-icon name="home-outline"></ion-icon>
    </div>
  </a>
  <a href="<%= buscar_path %>" class="item">
    <div class="col">
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </a>
  <a href="#" class="item">
    <div class="col">
      <div class="action-button">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
  </a>
  <a href="#" class="item">
    <div class="col">
      <ion-icon name="bookmark-outline"></ion-icon>
    </div>
  </a>
  <a href="<%= profile_path Profile.all.sample %>" class="item">
    <div class="col">
      <ion-icon name="person-outline"></ion-icon>
    </div>
  </a>
</div>
<!-- * App Bottom Menu -->