<!-- App Bottom Menu -->
<%= render 'app_components/search' %>

<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item vibrate">
    <div class="col">
      <ion-icon name="home-outline"></ion-icon>
    </div>
  </a>
  <a href="#" class="item toggle-searchbox vibrate" onclick="javascript:$('#search-input-header').focus();">
    <div class="col">
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </a>
  <a href="#" class="item vibrate">
    <div class="col">
      <div class="action-button">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
  </a>
  <a href="<%= categorias_path %>" class="item vibrate">
    <div class="col">
      <ion-icon name="layers-outline"></ion-icon>
    </div>
  </a>
  <a href="<%= profile_path Profile.all.sample %>" class="item vibrate">
    <div class="col">
      <ion-icon name="person-outline"></ion-icon>
    </div>
  </a>
</div>
<!-- * App Bottom Menu -->