<!-- Dialog Signin Required -->
<div class="modal fade dialogbox" id="dialog-signin-required" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-icon text-success">
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <div class="modal-header">
      <h5 class="modal-title">É preciso ter uma conta</h5>
      </div>
      <div class="modal-body">
        O que deseja fazer?
        <a href="<%= new_user_path %>" class="btn btn-block btn-primary mt-3">Criar uma nova conta</a>
        <a href="<%= signin_path %>" class="btn btn-block btn-outline-primary text-primary">Acessar a minha conta</a>
      </div>
      <div class="modal-footer">
        <div class="btn-list">
          <a href="#" class="btn btn-text-secondary btn-block" data-dismiss="modal">Fechar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Dialog Signin required -->